.accommodation {
  @include grid;
  margin-top: $base-spacing;

  &:last-of-type {
    margin-top: $base-spacing * 2;
  }

  @include media($medium-screen-up) {
    margin-top: $medium-spacing;
    width: 48%;

    &:last-of-type {
      margin-top: $medium-spacing;
    }
  }

  .button {
    margin-top: $medium-spacing;
  }
}
