.accommodation {
  @include grid;
  margin-bottom: $medium-spacing;

  @include media($medium-screen-up) {
    width: 48%;
  }

  @include media($large-screen-up) {
    margin-bottom: 0;
  }

  .button {
    margin-top: $base-spacing;

    @include media($medium-screen-up) {
      margin-top: $medium-spacing;
    }
  }
}

.accomodation-hero {
  margin-bottom: $medium-spacing;
}
