.accommodation {
  @include responsive-grid(6, $large-spacing);

  .button {
    margin-top: $medium-spacing;
  }
}

.accommodations-aerial-image {
  margin-bottom: $medium-spacing;

  @include media($medium-screen-up) {
    margin-bottom: $large-spacing;
  }
}
