.callout {
  background-color: $navy;
  min-height: 500px;
  position: relative;

  p {
    margin-bottom: 0;
  }
}

.callout-image {
  @include size(100% 300px);
  background-size: cover;
  background-position: center;

  @include media($medium-screen-up) {
    @include size(auto);
    @include position(absolute, 0 50% 0 0);
  }

  .food & {
    background-image: image-url("millwrights_food.jpg");
  }

  .buses & {
    background-image: image-url("historic_map.png");
  }
}

.callout-content {
  padding: $medium-spacing;

  @include media($medium-screen-up) {
    margin-left: 50%;
    padding: $large-spacing;
  }
}
