%button {
  @include padding($base-spacing null);
  background-color: $mustard;
  border-radius: $base-border-radius;
  color: $white;
  display: inline-block;
  font-family: $slab;
  font-size: $small-font-size;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: $base-transition;

  &:hover {
    background-color: shade($mustard, 20%);
    color: $white;
  }

  img {
    @include margin(null auto $base-spacing auto);
    display: block;
  }
}

%header-divider {
  margin-bottom: $base-spacing;
  padding-bottom: $base-spacing;
  position: relative;

  @include media($medium-screen-up) {
    margin-bottom: $regular-spacing;
    padding-bottom: $regular-spacing;
  }

  &:after {
    @include position(absolute, null 0 0);
    @include size(40px 2px);
    background-color: $mustard;
    content: "";
  }
}
