@font-face {
    font-family: 'Engravers';
    src: font-url('engravers-webfont.eot');
    src: font-url('engravers-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('engravers-webfont.woff2') format('woff2'),
         font-url('engravers-webfont.woff') format('woff'),
         font-url('engravers-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Prospect';
    src: font-url('prospect-webfont.eot');
    src: font-url('prospect-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('prospect-webfont.woff2') format('woff2'),
         font-url('prospect-webfont.woff') format('woff'),
         font-url('prospect-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Craw Modern';
    src: url('craw-modern-webfont.eot');
    src: url('craw-modern-webfont.eot?#iefix') format('embedded-opentype'),
         url('craw-modern-webfont.woff2') format('woff2'),
         url('craw-modern-webfont.woff') format('woff'),
         url('craw-modern-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
