.hero {
  text-align: center;

  section {
    padding-bottom: 0;
  }

  h2 {
    margin-bottom: 0;
  }

  h4 {
    margin: $medium-spacing;
  }
}

.hero-date {
  color: $mustard;
  font-family: $numbers;
  font-size: $large-font-size;
  vertical-align: middle;
}

.hero-image {
  width: 100%;
  display: block;
}
