.hero {
  text-align: center;

  section {
    padding-bottom: 0;
  }

  h2 {
    font-size: $hero-mobile-font-size;
    margin-bottom: 0;

    @include media($medium-screen-up) {
      font-size: $largest-font-size;
    }
  }

  h4 {
    margin: $small-spacing;

    @include media($medium-screen-up) {
      margin: $medium-spacing;
    }
  }
}

.hero-date {
  color: $mustard;
  font-family: $numbers;
  font-size: $large-font-size;
  vertical-align: middle;


}
