.itinerary-header {
  background-color: lighten($mustard, 40%);
  border-top: 2px solid $base-border-color;
  padding: $base-spacing;
}

.itinerary-row {
  @include outer-container;
  border-bottom: $base-border;

  p {
    margin-bottom: 0;
  }
}

.itinerary-time {
  @include padding($base-spacing);
  @include span-columns(3);
  @include omega;

  p {
    color: $dark-mustard;
  }
}

.itinerary-description {
  @include span-columns(9);
  border-left: $base-border;
  padding: $base-spacing;
}

.bleed-section-photo {
  .itinerary & {
    background-image: image-url("millwrights_interior.png");
  }
}
