// TODO: Calculations automatic

.itinerary {
  position: relative;

  @include media($medium-screen-up) {
    @include margin($medium-spacing 0 $largest-spacing);
  }
}

.itinerary-table {
  text-align: center;

  @include media($medium-screen-up) {
    margin-left: 4%;
    text-align: left;
    width: 44%;
  }
}

.itinerary-image {
  @include position(absolute, 0px 0px 0px 52%);
  background-image: image-url("millwrights_interior.jpg");
  background-position: center;
  background-size: cover;
  display: none;

  @include media($medium-screen-up) {
    display: block;
  }
}

.itinerary-header-row {
  background-color: lighten($mustard, 40%);
  border-top: 2px solid $base-border-color;
  padding: $base-spacing;
}

.itinerary-row {
  @include clearfix;
  border-bottom: $base-border;

  p {
    margin-bottom: 0;
  }
}

.itinerary-row-time,
.itinerary-row-description {
  width: 100%;

  @include media($large-screen-up) {
    padding: $base-spacing;
    float: left;
  }
}

.itinerary-row-time {
  @include padding($base-spacing $base-spacing null);

  @include media($large-screen-up) {
    width: 20%;
  }

  p {
    color: $dark-mustard;
  }
}

.itinerary-row-description {
  @include padding(null $base-spacing $base-spacing);

  @include media($large-screen-up) {
    border-left: $base-border;
    width: 80%;
  }
}
