@mixin grid($columns) {
  $gutter: 1%;

  float: left;
  @include margin(null $gutter $medium-spacing);
  width: 98%;

  @if $columns == 2 {
    @include media($medium-screen-up) {
      margin-bottom: 0;
      width: 48%;
    }

  } @elseif $columns == 3 {
    @include media($medium-screen-up) {
      width: 31%;
    }

  } @elseif $columns == 4 {
    @include media($small-screen-up) {
      width: 48%;
    }

    @include media($large-screen-up) {
      margin-bottom: 0;
      width: 23%;
    }
  }
}
