.block-image {
  display: block;
  width: 100%;
}

.button,
.button-full-width {
  @extend %button;
  width: 100%;
}

.button {
  @include media($small-screen-up) {
    width: 300px;
  }
}

.centered {
  text-align: center;
}

.header-divider,
.header-divider-centered {
  @extend %header-divider;
}

.header-divider-centered {
  &:after {
    @include margin(null auto);
  }
}

.large-paragraph {
  font-size: $base-font-size;
}
