nav {
  @include position(fixed, 0 0 null 0);
  background-color: rgba($mustard, 0.95);
  border-bottom: 2px solid $dark-mustard;
  font-family: $slab;
  font-size: $smallest-font-size;
  opacity: 0;
  text-align: center;
  text-transform: uppercase;
  visibility: hidden;
  z-index: $nav-z-index;

  @include media($large-screen-up) {
    &.scrolled {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.2s;
    }
  }
}

.nav-link {
  color: $white;
  display: inline-block;
  padding: $base-spacing;
  text-decoration: none;

  &:hover,
  &.active {
    color: $navy;
  }
}
