nav {
  @include position(fixed, 0 0 null 0);
  background-color: rgba($mustard, 0.95);
  border-bottom: 2px solid darken($mustard, 10%);
  display: none;
  font-family: $slab;
  font-size: $smallest-font-size;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  z-index: $nav-z-index;
}

.nav-link {
  color: $white;
  display: inline-block;
  padding: $base-spacing;
  text-decoration: none;

  &:hover,
  &.active {
    color: $navy;
  }
}
