nav {
  @include position(fixed, 0 0 null 0);
  background-color: rgba($navy, 0.5);
  font-family: $slab;
  font-size: $smallest-font-size;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transition: $base-transition;
  z-index: $nav-z-index;

  &.scrolled {
    background-color: rgba($navy, 0.95);
    border-bottom: 2px solid darken($navy, 10%);
  }
}

.nav-link {
  color: $white;
  display: inline-block;
  padding: $base-spacing;
  text-decoration: none;

  &:hover,
  &.active:hover {
    background-color: $mustard;
    color: $navy;
  }

  &.active {
    background-color: transparent;
    color: $mustard;
  }
}
