.registry {
  @include grid;
  margin-top: $base-spacing;

  @include media($medium-screen-up) {
    width: (100% / 3) - ($gutter * 2);
  }
}

.registry-coming-soon-tag {
  @include border-left-radius($base-border-radius);
  @include position(absolute, $base-spacing 0 null null);
  background-color: $navy;
  padding: $small-spacing $base-spacing;
}
