.schedule {
  h6 {
    line-height: $large-line-height;
  }
}

.state-of-connecticut {
  margin-bottom: $medium-spacing;

  @include media($medium-screen-up) {
    margin-bottom: 0;
  }
}

.event {
  @include responsive-grid(6, $large-spacing);
}
