.schedule {
  p {
    margin-bottom: 0;
  }
}

.ct-state {
  @include margin(null auto);
  display: none;

  @include media($large-screen-up) {
    display: block;
  }
}

.schedule-event {
  @include grid(2);
}
