.schedule {
  h6 {
    line-height: $large-line-height;
  }
}

.ct-state {
  display: none;

  @include media($medium-screen-up) {
    @include margin(null auto);
    display: block;
  }
}

.schedule-event {
  @include responsive-grid(6);
  margin-top: $medium-spacing;
}
