// Color
$gray: #555;
$navy: #24325d;
$mustard: #b68d2d;
$light-mustard: lighten($mustard, 30%);
$dark-mustard: darken($mustard, 5%);
$darkest-mustard: darken($mustard, 15%);
$off-white: #f5efe0;
$white: #fff;

// Font Family
$serif: "Engravers", "craw-modern-urw", Georgia, serif;
$text: "adelle", Georgia, serif;
$sans-serif: "presicav", Arial, Helvetica, sans-serif;
$numbers: "craw-modern-urw", Georgia, serif;
$slab: "Prospect", Georgia, serif;

// Font Weight
$text-semibold: 600;
$bold: bold;

// Font Size
$base-font-size: 1em;
$text-font-size: $base-font-size;
$smallest-font-size: $base-font-size * 0.625;
$small-font-size: $base-font-size * 0.75;
$medium-font-size: $base-font-size * 1.25;
$hero-mobile-font-size: $base-font-size * 1.5;
$large-font-size: $base-font-size * 2;
$largest-font-size: $base-font-size * 3.125;

// Letter Spacing
$small-letter-spacing: 3px;
$base-letter-spacing: 5px;

// Line Height
$base-line-height: 1em;
$medium-line-height: $base-line-height * 1.5;
$large-line-height: $base-line-height * 2;

// Spacing
$base-spacing: 1.25rem;
$small-spacing: $base-spacing * 0.5;
$medium-spacing: $base-spacing * 1.5;
$large-spacing: $base-spacing * 4;
$largest-spacing: $base-spacing * 6;

// Border
$base-border-color: $light-mustard;
$base-border: 1px solid $base-border-color;

// Border Radius
$base-border-radius: 3px;

// Transition
$base-transition: all 0.2s ease-in-out;

// Z-Index
$nav-z-index: 1000;
$map-fade-z-index: 500;

// Responsive
$small-screen: em(640);
$medium-screen: em(900);
$large-screen: em(1200);
$small-screen-up: new-breakpoint(min-width $small-screen 12);
$medium-screen-up: new-breakpoint(min-width $medium-screen 12);
$large-screen-up: new-breakpoint(min-width $large-screen 12);
