.wedding-party {
  background-color: $mustard;
}

.wedding-party-person {
  @include grid;
  margin-top: $base-spacing;
  padding-bottom: $base-spacing;
  position: relative;

  @include media($small-screen-up) {
    width: 48%;
  }

  @include media($large-screen-up) {
    width: 23%;
  }
}

.wedding-party-person-caption {
  @include position(absolute, null null 0 $base-spacing);
  background-color: $navy;
  padding: $base-spacing $medium-spacing $base-spacing $base-spacing;
  text-align: left;
}
