.wedding-party {
  background-color: $mustard;
}

.wedding-party-person {
  @include grid(4);
  padding-bottom: $base-spacing;
  position: relative;
}

.wedding-party-person-caption {
  @include position(absolute, null null 0 $base-spacing);
  background-color: $navy;
  padding: $base-spacing $medium-spacing $base-spacing $base-spacing;
  text-align: left;
}
