.bleed-section.itinerary
  .bleed-section-content
    .itinerary-header.itinerary-row
      %h6 itinerary

    - data.itinerary.each do |i|
      .itinerary-row
        .itinerary-time
          %p= i.time
        .itinerary-description
          %p= i.description

  .bleed-section-photo
