.itinerary
  .itinerary-table
    .itinerary-header-row.itinerary-row
      %h6 Itinerary

    - data.itinerary.each do |i|
      .itinerary-row
        .itinerary-row-time
          %p= i.time
        .itinerary-row-description
          %p= i.description

  .itinerary-image
