.location
  %section
    .heading
      %h2 Location
      %p.intro.large-paragraph
        The ceremony and hotels are located in Glastonbury, CT. The ceremony
        venue, St. Dunstan's Roman Catholic Church, is approximately 10 minutes
        from the hotels. The reception venue, Millwright's Restaurant and Tavern,
        is located in Simsbury, CT and is approximately 30 minutes from the hotels.

  = partial "map"
