<div id="map_wrapper">
  <div id="map_fade"></div>
  <div id="map"></div>

  <script src='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />

  <script>
    L.mapbox.accessToken = 'pk.eyJ1IjoiYWxpLWFhcyIsImEiOiJjaWpraG1hbG8wMzRpdTZtNWJnb2xlOWhxIn0.jsA2xHllKnxrgY1T60pGqA';
    var map = L.mapbox.map('map', 'mapbox.emerald').setView([41.8, -72.651902], 11);

    var featureLayer = L.mapbox.featureLayer(
      [
        {
          "type": "Feature",
          "geometry": {
            "type": "Point",
            "coordinates": [-72.811304, 41.870042]
          },
          "properties": {
            "title": "Millwright's",
            "address": "77 West Street, Simsbury, CT",
            "directions": "https://goo.gl/maps/fiMNUusSiA82",
            "marker-color": "#24325D",
            "marker-size": "large",
            "marker-symbol": "restaurant"
          }
        },
        {
          "type": "Feature",
          "geometry": {
            "type": "Point",
            "coordinates": [-72.525524, 41.715924]
          },
          "properties": {
            "title": "St. Dunstan's",
            "address": "1345 Manchester Road, Glastonbury, CT",
            "directions": "https://goo.gl/maps/UyMr8fdxQyo",
            "marker-color": "#24325D",
            "marker-size": "large",
            "marker-symbol": "religious-christian"
          }
        },
        {
          "type": "Feature",
          "geometry": {
            "type": "Point",
            "coordinates": [-72.618796, 41.723605]
          },
          "properties": {
            "title": "Hotels",
            "address": "65-85 Glastonbury Blvd, Glastonbuyr, CT",
            "directions": "https://goo.gl/maps/UcArgKiw99A2",
            "marker-color": "#24325D",
            "marker-size": "large",
            "marker-symbol": "town"
          }
        }
      ]
    ).addTo(map);

    featureLayer.eachLayer(function(layer) {
      var content =
        '<p><strong>' + layer.feature.properties.title + '</strong><\/p>' +
        '<p>' + layer.feature.properties.address + '<\/p>' +
        '<p><a href=' + layer.feature.properties.directions + ' target="_blank">Directions</a>';
      layer.bindPopup(content);
    });

    featureLayer.on('click', function(e) {
      map.panTo(e.layer.getLatLng());
    });

    map.scrollWheelZoom.disable();
  </script>


</div>
