.registries.centered
  %section
    %h2 Registry

    - data.registry.each do |r|
      .registry
        = link_to r.url, target: "_blank", class: "button-full-width" do
          = image_tag "registry_#{r.image}.svg"
          = r.name
