.registries.centered
  %section
    %h2 Registry

    - data.registry.each do |r|
      .registry
        = link_to javascript_void, class: "button-full-width button-disabled" do
          %small.registry-coming-soon-tag Coming Soon
          = image_tag "registry_#{r.image}.svg"
          = r.name
