%section.registries
  %h2 Registry

  %p.intro
    Lorem ipsum dolor sit amet, te aeque iriure euismod usu, diam scribentur id
    his. Ei sonet clita regione his. Pri ut inani antiopam. Quis oratio quaestio
    at pri. Per fuisset definitionem ad, in tota zril aliquid sed, bonorum
    molestie his eu. Legimus corrumpit scriptorem qui ei, audiam scribentur
    usu no.

  - data.registry.each do |r|
    .registry
      = image_tag "registry_#{r.image}.svg"
      = link_to r.name, r.url, class: "button-full-width"
